@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Lista de Usuarios";
}


<br />
<br />
<div class="border">
    <div class="row">
    <div class="col-6">
        <h2 class="text-center">Lista de Usuarios</h2>
        </div>
        <div class="col-6">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info">
                <i class="fas fa-plus"></i> &nbsp; Registra un nuevo usuario
            </a>
        </div>
    </div>
 <!--CLASE 84 DEJÉ 17/09-->
</div>
